# Supabase Configuration
VITE_SUPABASE_URL=https://your_supabase_url.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YOUR_PUBLISHABLE_KEY

# Cloudinary Configuration
VITE_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/YOUR_CLOUD_NAME/auto/upload
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset_here
